</main>
</body>

<footer class="footer mt-auto py-3">
  <div class="container">
    Made with <img class="heart" src="/images/heart.png" alt="Minecraft health heart" width="10px"> by balanasia
  </div>
</footer>

</html>
