body{
  background-color: #FFE5B4;
  color: #231955;
}

footer {
  background-color: #E8AA42;
  text-align: center;
}

.navbar {
  background-color: #1F4690;
  
}

.top-image {
  width: 10%;
}

.jumbotron {
  margin-top: 10px;
}
